<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app_findjob">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_FindJob">
        <activity
            android:name=".Admin_AddJob_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin_AddEmployer_Activity"
            android:exported="false" />
        <activity
            android:name=".Rss.Web_Blog"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.DetailEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.DetailJobActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.activity.HomeActivity"
            android:exported="false"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".view.home.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>